header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 174, 42);
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  padding: 20px 0;
}