.new-tweet{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
form div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button { 
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size:16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #1a91da;
}
#tweet-text {
  outline: 0; 
  border-width: 0 0 2px; 
  background-color: inherit;
  bottom: 0;
  resize: none;
}
.counter {
  font-weight: bold;
}