.tweet-article{
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
  transition: 300ms;
  margin-bottom: 20px;
}

.tweet-article:hover{
  box-shadow: 5px 5px;
}

.tweet-article #icons i{
  color: #1da1f2;
  padding: 0 2px;
}

.tweet-article #icons i:hover{
  color: hsla(59, 90%, 46%, 0.781);
}

.tweet-article header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tweet-article header div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.tweet-article footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}